	<!--about-->
<div class="about" id="about">
	<div class="container">
		<div class="about-main">
			<div class="col-md-6 about-left_w3ls_img">
				
			</div>
			<div class="col-md-6 about-right_w3ls">
		  <div class="about-top_agile_its">
			<h2>About Me</h2>
			<h5>Professional in photography</h5>
			<p>Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est, et ornare ante massa quis tellus. Mauris nec lacinia nisl. Curabitur tempus tellus et vulputate vestibulum.
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
			<span>Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est</span>
		
			

	  </div>
   <div class="clearfix"> </div>
	   </div>
    </div>
</div>
	<!-- //about -->


	<div data-nanogallery2='{
      "userID": "151159910@N02",
        "kind": "flickr",
        "thumbnailWidth": "auto",
        "thumbnailDisplayInterval": 30
      }'>

    </div>