<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<!-- js -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="http://localhost/php/travel-with-us/js/move-top.js"></script>
<script type="text/javascript" src="http://localhost/php/travel-with-us/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smooth-scrolling -->
<link rel="stylesheet" href="http://localhost/php/travel-with-us/css/swipebox.css">
				<script src="http://localhost/php/travel-with-us/js/jquery.swipebox.min.js"></script> 
					<script type="text/javascript">
						jQuery(function($) {
							$(".swipebox").swipebox();
						});
					</script>

<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {								
			$().UItoTop({ easingType: 'easeOutQuart' });							
			});
	</script>
<!-- //here ends scrolling icon -->

<script type="text/javascript" src="http://localhost/php/travel-with-us/js/bootstrap-3.1.1.min.js"></script>


</body>
</html>