
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Favorite Singer</title>
</head>
<body>
    <h1>{name} {surname}</h1>
    <h2>Genres</h2>
    <genres value="item">
        {item} <br>
    </genres>

		<images value="item">
					<a href="http://unitegallery.net">
					<img alt="Woman"
					     src="../img_gallery/colombia/thumbs/{item}.jpg"
					     data-image="../img_gallery/colombia/{item}.jpg"
					     data-description="This is a woman"
					     style="display:none">
					</a>
		</images>
</body>
</html>