<!-- photo-gallery -->
<div class="photo-gallery">
 <div class="agileits_heading_section">
		<h3 class="wthree_head">{travelId}</h3>
		<p class="w3l_sub_para_agile">Abril 2013</p>
	</div>

  <div data-nanogallery2='{
      "userID": "151159910@N02",
      "kind": "flickr",
      "photoset": "72157686736328755",
      "thumbnailWidth": "auto",
      "thumbnailDisplayInterval": 30,
      "thumbnailBorderVertical": 0,
      "thumbnailBorderHorizontal": 0,
      "thumbnailLabel": {
        "display": false
      },
      "thumbnailHoverEffect2": "scale120",
      "thumbnailAlignment": "justified",
      "gallerySorting": "titleasc"
    }'>
  </div>
 </div>  